<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Prijava</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<!--rel = stylesheet -->
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet" />

  </head>

  <body>

    <div class="container">

		<div id="loginbox">
			<form class="form-signin" id="loginForm" onsubmit="" th:action="@{/login}" method="post" role="form">
				<h3 class="form-signin-heading">Molimo, prijavite se</h3>
				<input type="email" id="inputEmail" th:name="emailLogin" class="form-control" placeholder="Email"
					   onfocus="" required="true" />
				<input type="password" id="inputPassword" th:name="passwordLogin" class="form-control" placeholder="Šifra"
					   onfocus="" required="true" />

				<button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
			</form>

      <form class="form-signin" id="switchToReg" th:action="@{/registration}" method="get">
        <div class="form-group">
          <div class="col-md-12 control">
            <div style="padding-top:5px; font-size:85%">
              Ili, izvršite registraciju
              <a href="javascript:{}" onclick="document.getElementById('switchToReg').submit(); return false;">
                OVDJE
              </a>
              .
            </div>
          </div>
        </div>
      </form>

		</div>

    </div> <!-- /container -->
  </body>

  <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>
