<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <head>
    <th:block th:include="home :: head"></th:block>
  </head>


  <body style="overflow-x: hidden;">
    <div class="row">
      <!--menu-->
      <div class="col-sm-3">
        <th:block th:include="home :: menu"></th:block>
      </div>

      <div class="col-sm-9">
        <table>
          <tr>
            <th>Naziv dokumenta</th>
            <th width="100"></th>
            <th width="100"></th>
          </tr>

          <tr th:each="document : ${documents}">
            <div th:with="docId=${document.id}">
              <tr>
                <td th:text="${document.name}"></td>
                <td>
                  <a th:href="@{'/download-document-' + ${document.id}}">download</a>
                </td>
              </tr>
            </div>
          </tr>
        </table>

      </div>
    </div>

 <th:block th:include="home :: scripts"></th:block>

 </body>
</html>
