<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <th:block th:include="home :: head"></th:block>
</head>

 <body>

   <div class="row">
     <div class="col-sm-3">
       <th:block th:include="home :: menu"></th:block>
     </div>

     <div class="col-sm-9">

       <!--Forma za dodavanje dokumenata-->
       <form method="POST" enctype="multipart/form-data" th:action="@{/add-document}">
         <table>
           <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
           <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
         </table>
       </form>

       <table>
         	<tr>
            <th>File Name</th>
            <th width="100"></th>
            <th width="100"></th>
          </tr>
          <div th:if="${not #lists.isEmpty(documents)}">
    				<tr th:each="document : ${documents}" th:if="${document.id != null}">
               <tr>
                 <td th:text="${document.name}"></td>
                 <td>
                   <a th:href="@{'/download-document-' + ${document.id}}">download</a>
                 </td>
                 <td>
                	  <a th:href="@{'/delete-my-document-' + ${document.id}}">delete</a>
                 </td>
                </tr>
            </tr>
          </div>
        </table>
      </div>

	   </div>

  <th:block th:include="home :: scripts"></th:block>

 </body>
</html>
