<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Registracija</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<!--rel = stylesheet -->
  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div id="registrationbox">

        <form class="form-signin" id="loginForm" onsubmit="" th:action="@{/registration}"
          th:object="${user}" method="post" role="form">
  				<h3 class="form-signin-heading">Molimo, unesite tražene podatke</h3>
          <input type="text" th:field="*{userName}" placeholder="Korisničko ime"
              class="form-control" required="true" />
          <input type="text" th:field="*{password}"
              placeholder="Šifra" class="form-control" required="true" />
					<input type="text" th:field="*{name}"
							placeholder="Ime" class="form-control" required="true" />
					<input type="text" th:field="*{lastName}"
							placeholder="Prezime" class="form-control" required="true" />
          <input type="text" th:field="*{email}" placeholder="Email"
              class="form-control" required="true" />

  				<button class="btn btn-lg btn-primary btn-block" style="padding-top: 10px" type="submit">
						Registracija
					</button>
  			</form>

<!-- OVO ISPOD UBACITI GORE-->

		<!--		<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Registration Form</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
								class="validation-message"></label>
						<input type="text" th:field="*{userName}" placeholder="Name"
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
							<input type="text" th:field="*{password}"
								placeholder="Last Name" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{birthDate}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" id="regDate" th:field="*{registrationDate}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('registrationDate')}" th:errors="*{registrationDate}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>


				</form>   -->

        <form class="form-signin" id="switchToLog" th:action="@{/}" method="get">
          <div class="form-group">
            <div class="col-md-12 control">
              <div style="padding-top:5px; font-size:85%">
                Ili, prijavite se
                <a href="javascript:{}" onclick="document.getElementById('switchToLog').submit(); return false;">
                  OVDJE
                </a>
                .
              </div>
            </div>
          </div>
        </form>

			</div>

	</div>


</body>
</html>
