<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <head>
    <th:block th:include="home :: head"></th:block>
  </head>

  <body style="overflow-x: hidden;">
    <th:block th:include="home :: top-navbar"></th:block>
    <div class="container-fluid" style="padding: 0; !important">
      <div class="row row-offcanvas row-offcanvas-left">

        <th:block th:include="home :: side-navbar"></th:block>

        <div class="col-sm-10">
          <br />

            <!--Ovdje se ubacuju podstranice-->
        </div>

      </div>
    </div>

    <th:block th:include="home :: scripts"></th:block>
 </body>
</html>
